.articles-today{

  h2{
    margin-bottom: 2px;
  }

  article{
    margin-bottom: 2px;

    h3{
      margin-bottom: 0;

      a{
        @include link-style('primary', 15px, underline);
      }
    }

    figure{
      text-align: center;
      margin: 5px 0;
    }

    & > p{
      line-height: 1rem;
      letter-spacing: 0.2px;
    }

    footer{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 12px;
      white-space: nowrap;
      background: $light-gray;
      margin-top: 10px;

      span{
        color: $secondary-color;
        margin: 0 6px;

        &:before{
          content: '';
          width: 16px;
          height: 16px;
          margin-right: 3px;
          display: inline-block;
          vertical-align: bottom;
          background: url(../images/article-info-icons.png) no-repeat -32px 0;
        }

        &:nth-child(2):before{
          background-position: -16px 0;
        }

        &:nth-child(3):before{
          background-position: 0 0;
        }

        a{
          @include link-style('secondary');
        }
      }

      .button{
        padding: .5rem;
        font-size: .9rem;
        margin-left: auto;
      }
    }
  }

  & > footer{
    padding: 30px 0;

    .pagination{
      font-size: 12px;

      li{
        width: 2rem;
        height: 2rem;

        &:first-child,
        &:last-child{
          width: auto;
          padding: 0 1.4rem;
        }

        a{
          line-height: 2rem;
        }
      }
    }
  }
}