.articles-search{

  &-menu{
    justify-content: flex-start !important;

    input + label{
      white-space: nowrap;
      font-size: 12px;
      line-height: 1.9rem;
      letter-spacing: .1px;
      padding: 0 8px;
    }

    // for pixel perfect only
      label:first-of-type{
        padding-left: 4px;
      }
    // for pixel perfect only
  }

  &-fields{
    input{
      font-size: 13px;
      height: 2.1rem;
      margin-bottom: 0;
    }
  }

  &-button{
    font-size: 1rem;
    padding-left: 8px !important;

    img{
      margin: -3px 5px -2px 0;
    }
  }
}