<section class="section-gradient widget archive">

    <h4 class="blue-header text-center underline"><a href="#">Архив новостей</a></h4>  
  
    <ul class="archive-list">
      <li><a href="#">Сентябрь 2011 (<span>1608</span>)</a></li>
      <li><a href="#">Август 2011 (<span>1861</span>)</a></li>
      <li><a href="#">Июль 2011 (<span>1750</span>)</a></li>
      <li><a href="#">Июнь 2011 (<span>838</span>)</a></li>
      <li><a href="#">Май 2011 (<span>1772</span>)</a></li>
      <li><a href="#">Апрель 2011 (<span>1063</span>)</a></li>
      <li><a href="#">Март 2011 (<span>2440</span>)</a></li>
      <li><a href="#">Февраль 2011 (<span>1311</span>)</a></li>
    </ul>
  
    <footer class="text-center"><a href="#">Показать весь список</a></footer>
  
  </section>