<div class="columns small-12 image-slider">

  <a class="image-slider-link back" href="#"><img src="../images/arrow-left.png" alt=""></a>

  <ul class="image-slider-list">
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
  </ul>

  <a class="image-slider-link forward" href="#"><img src="../images/arrow-right.png" alt=""></a>

</div>