<div class="image-slider columns small-12">

  <a href="#"><img src="../images/arrow-left.png" alt=""></a>

  <ul>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
    <li><a href="#"><img src="../images/slide-1.jpg" alt="wdwdwdwd" title="wdwdwdwd" /></a></li>
  </ul>

  <a href="#"><img src="../images/arrow-right.png" alt=""></a>

</div>