<section class="widget section-white important-info">

    <h4 class="grey-header text-center underline"><a href="#">Важная информация</a></h4>

    <div class="important-content">
      <p><a class="secondary-link uppercase underline" href="#">Погода в Москва</a></p>

      <figure class="forecast-day">
        <img src="../images/cloudy.png" alt="" />
        <figcaption>
          <p>День</p>
          <p>+7&nbsp;&nbsp;&nbsp;&nbsp;+9</p>
        </figcaption>
      </figure>
  
      <figure class="forecast-day">
        <img src="../images/rainy.png" alt="" />
        <figcaption>
          <p>Ночь</p>
          <p>+2&nbsp;&nbsp;&nbsp;&nbsp;+4</p>
        </figcaption>
      </figure>
  
      <p class="text-center"><a class="primary-link underline" href="#">Погода в других городах</a></p>
  
      <p><a class="secondary-link uppercase underline" href="#">Курсы валют</a></p>
    </div>

    <footer>
      <ul class="important-exchange-list">
        <li>USD 28.8907</li>
        <li>CNY 32.7612</li>
        <li>EUR 43.2001</li>
        <li>JPY 36.9094</li>
      </ul>
    </footer>
 
  </section>