<section class="widget tags">

    <h4>Опрос сайте</h4>
  
    <p>Насколько Вас устраивает спектр предоставляемого сервиса на нашем сайте?</p>

    <form action="">
      <fieldset>
        <input type="radio" name="answers" id="answer-1" /><label for="answer-1">Всего хватает, не жалуюсь.</label>
        <input type="radio" name="answers" id="answer-2" /><label for="answer-2">Спектр огромен, путаюсь постояно</label>
        <input type="radio" name="answers" id="answer-3" /><label for="answer-3">Меня не устраивает.</label>
        <input type="radio" name="answers" id="answer-4" /><label for="answer-4">Я ничего не понял!</label>
      </fieldset>

      <fieldset>
        <button>Голосовать</button>
        <button>Результаты</button>
        <button>Все голосования</button>
      </fieldset>
    </form>
  
  </section>