<section class="section-gradient widget tags">

  <h4 class="blue-header text-center underline"><a href="#">Облако тегов</a></h4>  

  <ul class="tags-list">
    <li><a class="level-1" href="#">Лебедев</a></li>
    <li><a class="level-2" href="#">Золото</a></li>
    <li><a class="level-3" href="#">европа</a></li>
    <li><a class="level-3" href="#">Москва</a></li>
    <li><a class="level-3" href="#">презентация</a></li>
    <li><a class="level-1" href="#">Путин</a></li>
    <li><a class="level-2" href="#">авария</a></li>
    <li><a class="level-1" href="#">футбол</a></li>
    <li><a class="level-1" href="#">метро</a></li>
    <li><a class="level-1" href="#">динамо</a></li>
    <li><a class="level-1" href="#">хоккей</a></li>
    <li><a class="level-2" href="#">видео</a></li>
    <li><a class="level-3" href="#">Блоги</a></li>
    <li><a class="level-4" href="#">тони</a></li>
    <li><a class="level-2" href="#">технологии</a></li>
    <li><a class="level-2 uppercase" href="#">nokia </a></li>
    <li><a class="level-1" href="#">музыка</a></li>
    <li><a class="level-1" href="#">археолог</a></li>
  </ul>

  <footer class="text-center"><a href="#">Все теги</a></footer>

</section>