<section class="section-gradient widget tags">

  <h4 class="blue-header text-center underline"><a href="#">Облако тегов</a></h4>  

  <ul>
    <li><a href="#">Лебедев</a></li>
    <li><a href="#">Золото</a></li>
    <li><a href="#">европа</a></li>
    <li><a href="#">Москва</a></li>
    <li><a href="#">презентация</a></li>
    <li><a href="#">Путин</a></li>
    <li><a href="#">авария</a></li>
    <li><a href="#">футбол</a></li>
    <li><a href="#">метро</a></li>
    <li><a href="#">динамо</a></li>
    <li><a href="#">хоккей</a></li>
    <li><a href="#">видео</a></li>
    <li><a href="#">Блоги</a></li>
    <li><a href="#">тони</a></li>
    <li><a href="#">технологии</a></li>
    <li><a href="#">NOKIA </a></li>
    <li><a href="#">музыка</a></li>
    <li><a href="#">археолог</a></li>
  </ul>

  <p><a href="#">Все теги</a></p>

</section>