<section class="section-white widget top-10">

  <h4 class="blue-header text-center underline"><a href="#">Последние новости ТОП 10</a></h4>

  <ul>
    <li>
      <figure>
        <img src="../images/top10-1.jpg" alt="" />
        <figcaption>
          <a href="#">О крупном мошенничестве в администрации Смоленской области</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-2.jpg" alt="" />
        <figcaption>
          <a href="#">Избрание Валентины Матвиенко спикером Совета Федерации</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-3.jpg" alt="" />
        <figcaption>
          <a href="#">Матчи 1/8 финала Кубка России-2011/2012 по футболу</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-4.jpg" alt="" />
        <figcaption>
          <a href="#">66-я сессия Генеральной 
              ассамблеи ООН в Нью-Йорке</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-5.jpg" alt="" />
        <figcaption>
          <a href="#">Отмена приговора бизнесмену 
              Алексею Козлову</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-6.jpg" alt="" />
        <figcaption>
          <a href="#">Расследование причин 
              крушения Як-42 с пассажирами
              в Ярославле.</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-7.jpg" alt="" />
        <figcaption>
          <a href="#">Уже 20 лет без СССР: анализ, комментарии, документы</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-8.jpg" alt="" />
        <figcaption>
          <a href="#">Social Media Week Moscow 2011</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-9.jpg" alt="" />
        <figcaption>
          <a href="#">Избрание Валентины Матвиенко спикером Совета Федерации</a>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="../images/top10-10.jpg" alt="" />
        <figcaption>
          <a href="#">Отмена приговора бизнесмену Алексею Козлову</a>
        </figcaption>
      </figure>
    </li>
  </ul>

  <p><a href="#">Все последние новости</a></p>

</section>