<section class="widget section-white video-archive">

  <h4 class="blue-header text-center underline"><a href="#">Популярное из видеоархива</a></h4>

  <ul class="video-archive-list">
    <li><a href="#"><img src="../images/video-1.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-2.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-3.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-4.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-5.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-6.jpg" alt=""></a></li>
  </ul>

  <footer class="text-center"><a href="#">Все популярные видеоролики</a></footer>

</section>