<section class="widget video-archive">

  <h4>Популярное из видеоархива</h4>

  <ul>
    <li><a href="#"><img src="../images/video-1.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-2.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-3.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-4.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-5.jpg" alt=""></a></li>
    <li><a href="#"><img src="../images/video-6.jpg" alt=""></a></li>
  </ul>

  <p><a href="#">Все популярные видеоролики</a></p>

</section>