html{
  font-size: 14px;
}

fieldset,
figure{
  border: 0;
  margin: 0;
  padding: 0;
}

.underline{
  text-decoration: underline;
}

[class*=-menu-style]{
  display: flex;
  justify-content: space-between;
  & > li > a,
  & > label{
    white-space: nowrap;
    margin: 0;
    padding: 0 5px;
  }
  & input[type=checkbox],
  & input[type=radio]{
    @include hide();
  }
}
.secondary-menu-style > li > a,
.secondary-menu-style > label{
  @include link-style('secondary', 12px, underline);
}
.primary-menu-style > li > a,
.primary-menu-style > label{
  @include link-style('primary', 12px, underline);
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.uppercase{
  text-transform: uppercase;
}

.primary-link{
  color: $primary-color;
}

.secondary-link{
  color: $secondary-color;
}