body{
  font-family: Arial;
  font-size: 14px;
}

.page-wrapper{
  max-width: 1020px;
  margin: 0 auto;
  background:
    url('../images/clouds-top.png') no-repeat 50% 0%,
    url('../images/clouds-bottom.png') no-repeat 50% 100%,
    linear-gradient(
      to bottom,
      $primary-color,
      $white 39%,
      $white 93%,
      $primary-color);
}

.main-content{
  & > *{
    &:not(:first-child):not(:last-child){ padding: 0 4px; }
    &:first-child{ padding-right: 4px; }
    &:last-child{ padding-left: 4px; }
  }

  // --- for pixel-perfect only
    aside:last-child{ flex: 0 0 24%; }
    aside:not(:first-child):not(:last-child){ padding: 0 6px; }
    div:first-child{ padding-right: 2px; }
  // --- for pixel-perfect only
}

article[class*=section-],
section[class*=section-]{
  border-radius: 10px;
  padding: 7px;

  h2, h3, h4{
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    color: $white;

    &.grey-header{
      background: $secondary-color;
    }
    &.blue-header{
      background: $primary-color;
    }
  }
}

.section{
  &-white{
    background: $white;
  }
  &-gradient{
    background: linear-gradient(to bottom, scale-color($primary-color, $lightness: 70%), $white);
  }
}