body{
  font-family: Arial;
  font-size: 14px;
}

.page-wrapper{
  max-width: 1024px;
  margin: 0 auto;
  background:
    url('../images/clouds-top.png') no-repeat 50% 0%,
    url('../images/clouds-bottom.png') no-repeat 50% 100%,
    linear-gradient(
      to bottom,
      $primary-color,
      $white 39%,
      $white 93%,
      $primary-color);
}