.widget{
  min-height: 160px;

  & > p{
    text-align: center;
    font-size: 12px;
    line-height: 1rem;
    color: $secondary-color;
  }

  footer{
    a:first-child{
      @include link-style('secondary', 12px, underline);
    }
  }
}