.image-slider{
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  
  &-list{
    display: inline-block;
    white-space: nowrap;
    margin: 0 10px;

    img{
      margin: 0 2px;
      border: 1px solid $secondary-color;  
    }
  }

  &-link{
    &.forward{
      box-shadow: 10px 0px 20px 40px white;
      background-color: white;
    }
  }
}