.important{
  &-info{

    h4{
      margin-bottom: 0.4rem;
    }

    .forecast-day{
      color: $primary-color;
      display: inline-flex;
      width: 49%;
      padding: 3px 3px 0;
      align-items: center;

      img{
        width: 37px;
        height: 37px;
      }
  
      figcaption{
        padding-right: 10px;
        flex-grow: 1;

        p{
          font-size: 13px;
        }
      }
  
      p{
        text-align: center;
      }
    }

    footer{
      margin-top: 3px;
      background: $light-grey;
    }
  }

  &-content{
    p{
      font-size: 11px;
      line-height: 1.2rem;
      letter-spacing: .2px;
    }
  }

  &-exchange-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    font-size: 12px;
    letter-spacing: .2px;

    li{
      width: 50%;
      color: $primary-color;

      &:nth-child(even){
        text-align: right;
      }
    }
  }

}