.tags{
  padding-top: 11px !important;
  margin-bottom: 4px !important;

  h4{
    margin-bottom: .7rem;
  }

  &-list{
    margin-bottom: 18px;
    margin-right: -5px;
    padding-left: 3px;
    line-height: 1.35rem;

    li{
      padding: 0 1px;
    }

    a{
      @include link-style();

      text-decoration: underline;

      &.level-1{ font-size: 1.2rem; }
      &.level-2{ font-size: 1rem; }
      &.level-3{ font-size: .9rem; }
      &.level-4{ font-size: .8rem; }
    }
  }
}