.tags{
  &-list{
    margin-bottom: 20px;

    a{
      @include link-style();

      text-decoration: underline;

      &.level-1{ font-size: 1.2rem; }
      &.level-2{ font-size: 1.1rem; }
      &.level-3{ font-size: 1rem; }
      &.level-4{ font-size: .8rem; }
    }
  }
}