<nav class="menu-main">
  <ul>
    <li><a href="#">Главная</a></li>
    <li class="active">
      <a href="#">Новости</a>
      <ul class="submenu">
        <li>
          <a href="#">НАНО-Технологии</a>
          <ul class="subsubmenu">
            <li><a href="#">Политика</a></li>
            <li><a href="#">Экономика</a></li>
          </ul>
        </li>
        <li><a href="#">Проишествия</a></li>
        <li><a href="#">Наука</a></li>
        <li><a href="#">Образование</a></li>
      </ul>
    </li>
    <li><a href="#">Комментари</a></li>
    <li><a href="#">Статистика</a></li>
    <li><a href="#">Наш форум</a></li>
    <li><a href="#">Модераторы</a></li>
    <li><a href="#">Правила</a></li>
    <li><a href="#">Правообладателям</a></li>
    <li><a href="#">Подписка RSS</a></li>
    <li><a href="#">Обратная связь</a></li>
  </ul>
</nav>

<div class="menu-category">
  <span>Категории:</span>
  <ul class="secondary-menu-style">
    <li><a href="#">Культура</a></li>
    <li><a href="#">Искуство</a></li>
    <li><a href="#">Регионы</a></li>
    <li><a href="#">Технилогии</a></li>
    <li><a href="#">Политика</a></li>
    <li><a href="#">Экономика</a></li>
    <li><a href="#">Экология</a></li>
    <li><a href="#">Проишествия</a></li>
    <li><a href="#">Катастрофы</a></li>
    <li><a href="#">Спорт</a></li>
    <li><a href="#">Фоторепортаж</a></li>
    <li><a href="#">Видеоархив</a></li>
  </ul>
</div>
