.footer {
  &-menu {
    margin-bottom: 37px;
    letter-spacing: -.3px;
  }

  &-designers {
    h2{
      display: inline-block;
      text-align: right;
      font-style: italic;
      font-size: 1.5rem;
      line-height: 1rem;
      margin-bottom: 0;
      margin-left: 1rem;
  
      a {
        background: radial-gradient(ellipse 400px 20px at 40% 35%, $lightblue, $primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      span{
        font-size: 11px;
        color: $light-grey;
      }
    }
  }

  &-copyright{
    font-size: 12.5px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-right: 60px;

    *{
      color: $secondary-color;
      text-decoration: underline;
    }
  }

  &-banners{
    span{
      display: inline-block;
      width: 88px;
      height: 31px;
      font-size: 11px;
      line-height: 31px;
      color: $secondary-color;
      text-align: center;
      background: $white;
      border: 1px solid $primary-color;
    }
  }
}
