.main-header{
  color: $white;
}

.header{
  &-logo{
    h1{
      display: inline-block;
      font-size: 1rem;
      margin-top: 5px;
      margin-left: 20px;

      span{
        padding-left: 7px;
      }
    }
  }
}

