.main-navigation{
  margin-top: 25px;
}

.menu{
  &-upper{
    font-size: .857rem;
    text-align: right;
    li{ margin: 5px; }
  }

  &-main{
    font-size: 13px;
    padding: 5px 10px;
    border: 2px solid $white;
    border-radius: 10px;
    background: $primary-color;

    & > ul{
      display: flex;
      justify-content: space-between;
    }

    .submenu{
      display: none;
    }
  }

  &-category{
    display: flex;
    padding: 5px;
    color: $secondary-color;

    & > ul{
      flex-grow: 1;
      margin-left: 5px;
    }
  }
}