<section class="articles-list section-white">
  <h2 class="grey-header"><time>23.09.2011</time> - Новости - Политика, Экономика, Культура</h2>

  <ul>
    <li>
      <a href="#">Ротация в президиуме генсовета ЕР была ожидаемой, считают политологи</a>
      <figure>
        <img src="../images/new-1.jpg" alt="">
        <figcaption>Предвыборный съезд "Единой России" начал работу 23 сентября 2011 года. Единороссы ожидают, что их лидер, премьер-министр.</figcaption>
      </figure>
    </li>

    <li>
      <a href="#">Рубль упал к евро на 20 коп и не изменился к доллару</a>
      <figure>
        <img src="../images/new-2.jpg" alt="">
        <figcaption>Курс доллара расчетами "завтра" на открытии валютных торгов в пятницу вырос на 16 копеек - до 32,21 рубля.</figcaption>
      </figure>
    </li>

    <li>
      <a href="#">Биржи Европы закрылись ростом около 1% после обвала накануне</a>
      <figure>
        <img src="../images/new-3.jpg" alt="">
        <figcaption>Торги на минувший день закончились небывалым лбвалом на обшем фоне внешнего негатива, который усугубился в результате </figcaption>
      </figure>
    </li>

    <li>
      <a href="#">Севморпути дали "зеленый" свет на втором Арктическом форуме</a>
      <figure>
        <img src="../images/new-4.jpg" alt="">
        <figcaption>Второй международный форум "Арктика - территория диалога", организованный РГО, пройдет в Архангельске 22-24 сентября.</figcaption>
      </figure>
    </li>

    <li>
      <a href="#">Заявление Палестины о членстве в ООН передано председателю СБ ООН</a>
      <figure>
        <img src="../images/new-5.jpg" alt="">
        <figcaption>Письмо с этой заявкой было вручено ещё утром в пятницу Пан Ги Муну главой Палестинской национальной администрации.</figcaption>
      </figure>
    </li>

    <li>
      <a href="#">Сбой в работе метро произошел на Калужско-Рижской линии московского</a>
      <figure>
        <img src="../images/new-6.jpg" alt="">
        <figcaption>Сбой по техническим причинам произошел в пятницу вечером на Калужско-Рижской линии московского метрополитена.</figcaption>
      </figure>
    </li>

    <li>
      <a href="#">Золото дешевеет на ожиданиях действий G20 для поддержки Европы</a>
      <figure>
        <img src="../images/new-7.jpg" alt="">
        <figcaption>Золото дешевеет на фоне ожидания итогов саммита министров финансов и глав центробанков "группы двадцати" (G20).</figcaption>
      </figure>
    </li>

    <li>
      <a href="#">Боксер Лебедев намерен ответить Джеймсу Тони делом, а не словами</a>
      <figure>
        <img src="../images/new-8.jpg" alt="">
        <figcaption>"На все громогласные заявления соперников я привык отвечать делом в ринге. Мы будем противостоять Тони.</figcaption>
      </figure>
      </li>
          
  </ul>

  <ul>
    <li><a href="#">Подписаться на новости этой категории</a></li>
    <li><a href="#">Весь архив новостей</a></li>
    <li><a href="#">Сортировка новостей</a></li>
  </ul>

</scetion>