<nav aria-label="Pagination">
  <ul class="pagination text-center">
    <li class="pagination-previous"><a href="#" aria-label="Prev page">Назад</a></li>
    <li><a href="#" aria-label="Page 1">1</a></li>
    <li><a href="#" aria-label="Page 2">2</a></li>
    <li><a href="#" aria-label="Page 3">3</a></li>
    <li><a href="#" aria-label="Page 4">4</a></li>
    <li><a href="#" aria-label="Page 5">5</a></li>
    <li><a href="#" aria-label="Page 6">6</a></li>
    <li><a href="#" aria-label="Page 7">7</a></li>
    <li><a href="#" aria-label="Page 8">8</a></li>
    <li><a href="#" aria-label="Page 9">9</a></li>
    <li><a href="#" aria-label="Page 10">10</a></li>
    <li class="pagination-next"><a href="#" aria-label="Next page">Далее</a></li>
  </ul>
</nav>