<section class="main-search">
  <form action="">

    <fieldset>
      <input type="checkbox" id="site-search-1" name="site-search"><label for="site-search-1">Популярные статьи</label>
      <input type="checkbox" id="site-search-2" name="site-search"><label for="site-search-2">Архив новостей</label>
      <input type="checkbox" id="site-search-3" name="site-search"><label for="site-search-3">Поиск Google / Yandex</label>
      <input type="checkbox" id="site-search-4" name="site-search"><label for="site-search-4">Расширенный поиск</label>
    </fieldset>

    <fieldset class="input-group">
      <input class="input-group-field" type="text">
      <div class="input-group-button">
        <button type="submit" class="button" value="Submit"><i class="fi-list"></i>wdwd</button>
      </div>
    </fieldset>

  </form>
</section>