<article class="section-white articles-gallery">

  <header>
    <h2 class="grey-header">Число пострадавших при взрывах в Махачкале возросло до 21 человека</h2>
  </header>

  <figure>
    <img src="../images/main-new-pic.jpg" alt="">
    <figcaption>
      Взрыв прогремел в четверг в Махачкале приблизительно в 00.35 по мск на углу улиц Ермошкина и Дахадаева, в нескольких сотнях метров от центральной площади города, второй - через 15-17 минут в этом же районе. По словам источника в УВД города, по предварительным данным, оба взрывных устройства были заложены под припаркованными автомобилями.
      <u>Пострадавших возросло до 21 человека.</u>
    </figcaption>
  </figure>

  <footer>
    <nav aria-label="Pagination">
      <ul class="pagination">
        <li><a href="#" aria-label="Page 1">1</a></li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li><a href="#" aria-label="Page 5">5</a></li>
        <li><a href="#" aria-label="Page 6">6</a></li>
        <li><a href="#" aria-label="Page 7">7</a></li>
        <li><a href="#" aria-label="Page 8">8</a></li>
        <li><a href="#" aria-label="Page 9">9</a></li>
        <li><a href="#" aria-label="Page 10">10</a></li>
      </ul>
      <a class="button secondary tiny underline float-right" href="#">Полная новость</a>
    </nav>
    
  </footer>

</article>