<section class="section-white articles-today">
  <h2 class="grey-header">
    <time>23.09.2011</time>
    <span> - </span>
    <a class="underline" href="#">Все новости текущего дня</a>
  </h2>

  <article>
    <h3><a href="#">Малафеев не сыграет за ФК "Зенит" в матче ЧР с "Томью"</a></h3>
    <figure><img src="../images/all-new-1.jpg" alt="" /></figure>
    <p>
      "Вячеслав Малафеев сейчас чувствует боль, у него есть боязнь выходить на
      поле, поэтому в заявку на матч с "Томью" он не попадет. Не факт, что он
      сыграет и с "Порту" в Лиге чемпионов. Владимир Быстров тоже пока не готов
      играть, хоть я и дал ему возможность почувствовать уверенность в
      собственных силах, выпустив в игре с "Динамо" (Брянск)", - рассказал
      Спаллетти.
    </p>
    <footer>
      <span>Просмотров: 233</span>
      <span>Комментариев: 21</span>
      <span>В закладки</span>
      <a class="button tiny primary underline" href="#">Полная новость</a>
    </footer>
  </article>

  <article>
    <h3><a href="#">Боксер Поветкин считает Лебедева фаворитом в бою с Джеймсом</a></h3>
    <figure><img src="../images/all-new-2.jpg" alt="" /></figure>
    <p>
      Презентация боя Лебедев - Тони состоялась в пятницу в Москве. Поединок
      действующего чемпиона мира по версии IBA в тяжелом весе с российским
      боксером, который в мае победил легендарного Роя Джонса, состоится 4
      ноября во дворце спорта "Мегаспорт". - "Я думаю, бой получится зрелищным.”
    </p>
    <footer>
      <span>Просмотров: 233</span>
      <span>Комментариев: 21</span>
      <span>В закладки</span>
      <a class="button tiny primary underline" href="#">Полная новость</a>
    </footer>
  </article>

  <footer>
    <partial src="main/articles/articles-pagination.html"></partial>
  </footer>

</section>