<div class="menu-secondary">
  <span>Категории:</span>
  <ul class="secondary-menu-style">
    <li><a href="#">Культура</a></li>
    <li><a href="#">Искуство</a></li>
    <li><a href="#">Регионы</a></li>
    <li><a href="#">Технилогии</a></li>
    <li><a href="#">Политика</a></li>
    <li><a href="#">Экономика</a></li>
    <li><a href="#">Экология</a></li>
    <li><a href="#">Проишествия</a></li>
    <li><a href="#">Катастрофы</a></li>
    <li><a href="#">Спорт</a></li>
    <li><a href="#">Фоторепортаж</a></li>
    <li><a href="#">Видеоархив</a></li>
  </ul>
</div>