<header class="row">

  <div class="columns small-6">
    <h1>
      <a href="#">
        <span>первый новостной источник</span>
        <img src="../images/cloudnews-logo.png" alt="logo of cloudnews" />
      </a>
    </h1>
  </div>

  <div class="columns small-6">
    <ul>
      <li><a href="#">Сделать стартовой</a></li>
      <li><a href="#">Добавить в закладки</a></li>
      <li><a href="#">Панель управления</a></li>
    </ul>
  </div>

  <section class="main-navigation columns small-12">
    <partial src="main/navigation.html"></partial>
  </section>

</header>