<main class="main-content row" role="main">

  <div class="articles columns small-6">

    <partial src="main/articles-sections.html"></partial>

  </div>


  <aside class="widgets columns small-3">
    
    <partial src="widgets/top-10.html"></partial>
    <partial src="widgets/video-archive.html"></partial>
    <partial src="widgets/tags.html"></partial>
    <partial src="widgets/archive.html"></partial>
    <partial src="widgets/video-popular.html"></partial>

  </aside>

  
  <aside class="widgets columns small-3">

    <partial src="widgets/important-info.html"></partial>
    <partial src="widgets/calendar.html"></partial>
    <partial src="widgets/quiz.html"></partial>
    <partial src="widgets/empty.html"></partial>
    <partial src="widgets/advertising.html"></partial>

  </aside>

</main>
