<nav class="columns small-12">
  <ul class="secondary-menu-style">
    <li><a href="#">Главная</a></li>
    <li><a href="#">Новости</a></li>
    <li><a href="#">Комментарии</a></li>
    <li><a href="#">Мультимедиа</a></li>
    <li><a href="#">Форум</a></li>
    <li><a href="#">Поиск Google</a></li>
    <li><a href="#">Правила</a></li>
    <li><a href="#">Регистрация</a></li>
    <li><a href="#">Реклама</a></li>
    <li><a href="#">Правообладателям</a></li>
    <li><a href="#">Подписка RSS</a></li>
    <li><a href="#">Обратная связь</a></li>
  </ul>
</nav>
